.updateText {
  font-size: 15px;
  text-indent: 2em;
  margin: 0;
}

.updateContent {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #1a1515;
}

@media (min-width: 578px) {
  .box {
    width: 520px;
    height: 100vh;
    min-height: 550px;
    min-width: 250px;
    margin: 0 auto;
    background-color: #f1f1f1;
  }
}
.title {
  font-size: 14px;
  padding: 2px 10px;
}
.enterprise {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.enterpriseBox {
  margin: 5px !important;
  font-size: 12px;
  box-sizing: border-box;
  background-color: #323232;
  border-radius: 10px;
  color: white;
  width: 45px;
  height: 45px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 5px black;
  transition: all 0.1s ease-in-out;
}
.selectedEnterprise {
  background-color: #32b1f4;
}

.nikkeSelect {
  max-height: 50%;
}

.enterpriseBox:active {
  transform: scale(0.9);
}

.nikkeGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 5px;
  row-gap: 0;
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 5px 0;
}
.noNikkeData {
  margin: 0 auto;
}
.defaultImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nikke {
  width: 60px;
  height: 60px;
  margin: 5px;
  background-color: #c6c6c6;
  border-radius: 5px;
  border: 2px #c6c6c6 solid;
  /* background-image: url("/nikke/bx.png"); */
  background-repeat: no-repeat;
  background-size: 60px 60px;
  transition: border 0.1s ease-in-out;
}

.nikkeCheck {
  border: 2px #32b1f4 solid;
}

.nikkeCheck::before {
  content: '';

  width: 60px;
  height: 60px;
  background-color: #1a151559;
  background-image: url('/select.png');
  background-repeat: no-repeat;
  background-size: 48px;
  background-position: center center;
  opacity: 0.8;
  z-index: 999;
}

.label div {
  margin: 5px 0;
}

.label {
  color: rgb(59, 50, 50);
  display: flex;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 14px;
  flex-direction: column;
}

.pcontent span {
  width: 30%;
  line-height: 25px;
}
.pcontent > span {
  font-size: 12px;
  min-width: 96px; /*限制宽度*/
  overflow: hidden;
  text-overflow: ellipsis;
}

.pcontent {
  display: flex;
  flex: 1;
}

.cardList:last-child {
  margin-bottom: 150px;
}

.text {
  display: flex;
  color: rgb(59, 50, 50);
  font-weight: bold;
  font-size: 14px;
  margin: 5px 10px 0 10px;
}

.box {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 20px 20px 60px #000000, -20px -20px 60px #1a1515;
  transition: all 0.3s ease-in-out;
}

.noList {
  background-image: url(/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.btnbox {
  width: 100%;
  height: 50px !important;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 20px;
  z-index: 999;
}

.tilte {
  font-size: 14px;
  padding: 2px 10px;
}

.back {
  position: absolute;
  z-index: 999999;
  box-shadow: none;
  transform: translateY(-100vh);
  animation: slideIn 1s ease-in-out 1;
}

@keyframes slideIn {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(0) scaleY(1);
  }

  99% {
    transform: translateY(-100vh) scaleY(0.4);
  }

  100% {
    transform: translateY(-99999px) scaleY(0.4);
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18.8%;
  box-shadow: 0px 0px 4.1px rgba(0, 0, 0, 0.019), 0.1px 0.1px 8.3px rgba(0, 0, 0, 0.028),
    0.1px 0.1px 12.7px rgba(0, 0, 0, 0.034), 0.2px 0.2px 17.4px rgba(0, 0, 0, 0.04),
    0.3px 0.3px 23.1px rgba(0, 0, 0, 0.046), 0.4px 0.4px 31.1px rgba(0, 0, 0, 0.052),
    0.7px 0.7px 46.3px rgba(0, 0, 0, 0.061), 1px 1px 94px rgba(0, 0, 0, 0.08);
  background: linear-gradient(transparent 50%, #fda912 50%),
    linear-gradient(90deg, transparent 50%, #f8be53bb 50%);

  background-size: 5px 5px;
  background-position: center;
  background-color: #fda912;
}

.content {
  max-height: 82.2%;
  overflow-y: scroll;
}

.content::-webkit-scrollbar-thumb {
  background: #ccc;
  /* 滚动条thumb颜色 */
  border-radius: 5px;
  /* 滚动条thumb圆角 */
}

.content::-webkit-scrollbar-track {
  background: transparent;
  /* 滚动条轨道颜色 */
  border-radius: 5px;
  /* 滚动条轨道圆角 */
}

.logoText {
  position: absolute;
  right: 10px;
  top: 2px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  position: relative;
  font-family: cursive;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  line-height: 35px;
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.tabName {
  margin: 0 20px;
  box-sizing: border-box;
  height: 100%;
  flex: 1;
  line-height: 35px;
  text-align: center;
  border: 7px transparent solid;
  transition: all 0.1s ease-in-out;
  font-weight: 600;
  font-size: 18px;
}

.show {
  border: 7px transparent solid;
  border-bottom: 7px white solid;
}

@media (max-width: 578px) {
  .box {
    border-radius: 0;
    width: 100%;
    max-width: 100%;
    /* max-width: 80vw;
    min-width: 350px;
    min-height: 550px; */
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    background-color: #f1f1f1;
  }
}
